<header class="section-outer section-header">
  <div class="section-inner">
    <div class="main-navigation">
      <div class="logo">
        <a class="logo__link" href="#home" aria-label="logo">
          <img src="assets/images/logo.png" alt="logo" />
        </a>
      </div>

      <nav class="nav">
        <ul class="nav-wrapper">
          <li class="nav-wrapper__item">
            <a
              class="nav-wrapper__item-link nav-wrapper__item-link--active"
              href="#home"
              >Home</a
            >
          </li>

          <li class="nav-wrapper__item">
            <a class="nav-wrapper__item-link" href="#features">About Us</a>
          </li>

          <li class="nav-wrapper__item">
            <a class="nav-wrapper__item-link" href="#services">Services</a>
          </li>

          <li class="nav-wrapper__item">
            <a class="nav-wrapper__item-link" href="#contact">Contact</a>
          </li>

          <button class="btn btn--primary btn--with-icon btn-login">
            <svg class="icon">
              <use xlink:href="#user-login"></use>
            </svg>
            Login
          </button>
        </ul>
      </nav>

      <button class="burger" type="button" id="navToogle">
        <span class="burger__line">1</span>
        <span class="burger__line">2</span>
        <span class="burger__line">3</span>
        <span class="burger__line">4</span>
      </button>
    </div>
  </div>
</header>
